.event-detail-image {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 60vh;
  object-fit: fill;
  z-index: -1;
  gap: 5px;
}

.event-preview-image {
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  background-size: cover;
  margin: 0;
  padding: 0;
  object-fit: cover;
  z-index: -1;
  filter: blur(1rem);
  margin-top: 30px;
}

.event-info {
  z-index: 100 !important;
}

.event-info-wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 60%;
  background-color: #ffffff;
  border: none;
  outline: 1px solid #f4f6f7;
}

.early-access {
  display: flex;
  flex-direction: row;
}

.ticket-box ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 5px;
}

.ticket-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  border-top: 0.5px solid #dbdae3;
  border-bottom: 0.5px solid #dbdae3;
}

.ticketbox-buttons {
  display: flex;
  flex-direction: row;
  gap: 5px;
  cursor: pointer;
}

.event-detail-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.event-img-two {
  width: 65%;
  height: 40%;
}

.early-access-right-info {
  background-color: #f5f7f8;
  width: 100%;
  padding: 20px;
  overflow-wrap: break-word;
}

.bigger-desc {
  width: 65%;
  overflow-wrap: break-word;
}
.smaller-desc {
  width: 35%;
  padding: 10px;
}

.event-desc {
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  border-bottom: 0.5px solid #e8e8e8;
}

.event-detail-name {
  display: flex;
  flex-direction: column;
}

.reviews-inner-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reviews-header span {
  font-weight: 650;
  font: bolder;
}
.reviews-inner-container:not(:last-child) {
  border: 1px solid red;
}

.no-reviews {
  padding: 20px;
}

.event-reviews-container {
  margin-top: 20px;
}

.early-access-text {
  background-color: rgb(255 230 190);
  width: 30%;
  text-align: center;
  padding: 5px;
  color: #1e0a3c;
  font-weight: 500;
  border-radius: 8px;
}
