.edit-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.EditEventTitle {
  display: flex;
}

.editButton {
  align-self: center;
  border-radius: 5px;
  margin: 15px 0px;
}

.eventError {
  display: flex;
  justify-content: center;
}

.edit-event-input {
  width: 100%;
}

.modal-form {
  min-width: 420px;
}

.create-event-city-zip {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-form-event {
  width: 80%;
}

.create-event-city-zip div {
  width: 32%;
}
