.edit-content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.EditEventTitle {
  display: flex;
}

.editButton {
  align-self: center;
  /* border-radius: 5px;
  margin-top: 10px;
  margin-left: 25%;
  margin-bottom: 10px; */
}

.eventError {
  display: flex;
  justify-content: center;
}

.edit-event-input {
  width: 100%;
}

.modal-form {
}
